####################################################################
# This is the example config.ini file.
# Please, rename it as example.ini and set your own parameters.
####################################################################

# Uncomment any parameter you need to specify.
[beanstalkd]
#BeanstalkdHost = localhost
#BeanstalkdPort = 11300

[firebase]
ApiKey = someAPIKeyFromFirebase 
AuthDomain = your-project.firebaseapp.com 
DatabaseUrl = https://your-project.firebaseio.com 
StorageBucket = your-project.appspot.com
Email = youremail@domain.com
Password = yourPassword